@font-face{
	font-family : "arvo";
	src: url("arvo.ttf") format("truetype");
	src: url("arvo-b.ttf") format("truetype");
}

body{
	font-family: "arvo";
	background: #1f4937;
}


img{
	width: 55px;
	height: 55px;
}

.formulaire{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100%;
	color: white;
	padding-top: 20px;
	margin-left: 10%;
}

.col-sm-2{
	width: 150px;
	margin: 20px;
	font-size: 1rem;
	color: white;
}

nav-link{
	color: white;
}

.row{
	width: 400px;
}

button{
	padding: 12px 20px;
	border:2px;
	background-color: #2f5137;
	border-radius: 6px;
	color: #e6e6e6;
	border-style: solid;
}

.formInput{
	display: flex;
	width: 50%;
	margin-left: auto;
	margin-right: auto;
	padding-top: 10px;
}

@media screen and (max-width: 768px){
	.formInput{
		flex-direction: column;
	}
}

.menu{
	background-color: #192f27;
	height: 100%;
	width: 160px;
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
	padding-top: 20px;
	display: block-inline;
}

.inscription{
	padding-left: 50%;
}

.en-tete{
	background-color: #192f27;
	color: white;
	align-items: center;
	padding-top: 20px;
	padding-left: 50%;
}

.home{
    margin-left: auto;
    margin-right: auto;
}

.leftbar{
	padding : 20px;
	text-align: center;
	color: white;
}

a{
	color: white;
}

.titre{
	margin-left: 46%;
	margin-right: 40%;
}

table, th, td 
{
    border:1px solid black;
    background-color:white;
    padding:5px;
    margin-left: 300px;
	margin-right: 300px;
	width: 40%;
}

.bouton{
	width: 100%;
	margin-bottom: 4px;
}
